# FastAPI requirements
fastapi==0.111.0
uvicorn[standard]==0.30.1
python-multipart==0.0.9

# Data Analysis
numpy>=2.1
pandas>=2.2.0
yfinance==0.2.54

# Database
psycopg2-binary==2.9.9

# Utilities
python-dotenv==1.0.0
pytz==2024.1
requests==2.31.0

# CORS
fastapi-cors==0.0.6